@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,800;1,800&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Nunito', sans-serif;
    
}

html{
    font-size: 70%;
}

body{
    background: linear-gradient(to left, #efefbb, #d4d3dd); 

}

.container{
    max-width: 134rem;
    margin:0 auto;
}


.heading-1{
    max-width: 134rem;
    margin: 0 auto;
    text-align: center;
    padding: 2rem ;
    font-size: 30px;

    
}

.heading-2{
    max-width: 134rem;
    margin: 0 auto;
    font-size: 30px;
}


/*header*/

.container-hero{
    background: linear-gradient(to bottom, #757f9a, #d7dde8); 

}

.hero{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: .5rem 0;
}

.customer-logo{
    display: flex;
    align-items: center;
    gap: .5rem;
}

.logo-area{
    cursor: pointer;
}

.logo-area img{
    height: 90px;
    width: auto;
    transition: all 0.3s;
}

.logo-area img:hover{
    transform: scale(1.2,1.1);
}

.container-user{
    display: flex;
    gap: 1rem;
}

.container-user .fa-user{
    font-size: 3rem;
    color:rgb(0, 189, 0);
    padding-right: 2.5rem;
    border-right:1px solid #000 ;
    cursor: pointer;
}


.container-user .fa-heart{
    font-size: 3rem;
    color:rgb(0, 189, 0);
    padding-left: 1rem;
    cursor: pointer;

}


.content-favorites{
    display: flex;
    flex-direction: column;
}

.content-favorites span{
    font-size: 1.2rem;
}

/*encabezado*/
.container-navbar{
    background: linear-gradient(to left, #00c3ff, #ffff1c);
    box-shadow: 5px 3px 3px black;
}

.navbar{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 1.5rem 0;
}

.navbar .fa-bars{
    display: none;
}

.menu{
    display: flex;
    gap: 2rem;
}

.menu li{
    list-style: none;
}

.menu a{
    text-decoration: none;
    font-size: 1.3rem;
    color:#000;
    font-weight: 600;
    text-transform: uppercase;
    position: relative;
}

.menu a::after{
    content: '';
    width: 1.5rem;
    height: 1px;
    background-color: #fff;
    position: absolute;
    bottom:-3px;
    left: 50%;
    transform: translate(-50%, 50%);
    opacity: 0;
    transition: all 3.ease;
}

.menu a:hover::after{
    opacity: 1;
}

.menu a:hover{
    color: #fff;
}

.search-form{
    position: relative;
    display: flex;
    align-items: center;
    border: 2px solid #fff;
    border-radius: 2rem;
    background-color: #fff;
    height: 4.4rem;
    width: 30rem;
    overflow: hidden;
}

.search-form input{
    outline: none;
    font-family: inherit;
    border: none;
    width: 25rem;
    font-size: 1.4rem;
    padding: 0 2rem;
    color: #777;
}

.search-form input::-webkit-search-cancel-button{
    appearance: none;
}

.search-form .btn-search{
    border: none;
    background-color: rgb(0, 189, 0);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding: 1.5rem;
    cursor: pointer;

}

.btn-search i{
    font-size: 2rem;
    color: #fff;
}




/*boton de publicar material*/
.container-navbar .publicacion{
    display: flex;
    list-style: none;
}

.publicacion li:hover{
    transform: scale(1.09,1.09);
}


.publicacion .btn{
    text-decoration: none;
    padding: 12px 23px;
    position: relative;
    margin: 3px;
}

.publicacion .publicar{
    background: linear-gradient(to left, #f1f2b5, #135058);
    color: #ffffff;
    font-size: 1.4rem;
    border-radius: 20px;
   transition: transform 0.3s ease;
}

.publicar::after, .publicar::before{
    content: "";
    position: absolute;
    opacity: 0.3;
    background: linear-gradient(to left, #f1f2b5, #135058);
    border-radius: inherit;
    width: 100%;
    height: 100%;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: transform 0.3s ease;
}

.publicar:hover{
    transform: translate(-8px, -8px);
}


.publicar:hover::after{
    transform: translate(4px, 4px);
}

.publicar:hover::before{
    transform: translate(8px, 8px);
}


/*fin del navbar*/


/*Slider*/

.section-slider{
    display: flex;
    align-items: center;
    justify-self: center;
    padding: 15px;    
}

.container-carousel{
    position: relative;
    width: 100%;
    height: 440px;
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.66);
    border-radius: 15px;
    overflow: hidden;
}

.carruseles{
    width: 400%;
    height: 200%;
    display: flex;
    
}

.slider-section{
    width: calc(100% / 4);
    height: 100%;
}

.slider-section img{
    width: 100%;
    height: 440px;
    border-radius: 15px;
    
}

.btn-left,
.btn-right{
    display: flex;
    position: absolute;
    top: 50%;
    font-size: 1.5rem;
    background-color: transparent;
    border-radius: 50%;
    padding: 5px;
    font-weight: 600;
    cursor:pointer;
    color: #0e11e081;
    transform: translate(0, -50%);
    transition: .5s ease;
    user-select: none;
}

.btn-left:hover,
.btn-right:hover{
    background-color: #272020d4;
    color: #0a59cf
}


.btn-left{
    left: 10px;
}

.btn-right{
    right: 10px;
}

/*fin del slider*/



/*features*/

.container-features{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 3rem;
    padding: 3rem 0;
}

.card-feature{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;

    background-color: #50434327;
    border-radius: 1rem;
    padding: 1.5rem 0;
}

.card-feature i{
    font-size: 2.7rem;
    color: rgba(23, 36, 221, 0.781);
}

.feature-content{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.feature-content span{
    font-weight: 700;
    font-size: 1.5rem;
    color:rgb(0, 0, 0)
}

.feature-content p{
    color:#161616cb;
    font-weight: 500;
    font-size: 1.1rem;
    
}

/*Categorias*/

.top-categorias{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
    margin-bottom: 3rem;
}

.container-categorias{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap:3rem
}

.card-category{
    height: 13rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 2rem;
    gap: 2rem;
    text-align: center;
}

.category-dispositivos{
    background-image: linear-gradient(#00000080, #00000080), url('https://fadesaing.com/wp-content/uploads/2021/04/Diseno-y-desarollo-de-dispositivos-electronicos-1024x681.jpg');
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
}

.category-plasticos{
    background-image: linear-gradient(#00000080, #00000080), url('https://c.files.bbci.co.uk/153C5/production/_99618968_gettyimages-642612852.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.category-madera{
    background-image: linear-gradient(#00000080, #00000080), url('https://cdn0.ecologiaverde.com/es/posts/4/3/2/por_que_es_importante_reciclar_la_madera_3234_1_600.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.category-metales{
    background-image: linear-gradient(#00000080, #00000080), url('https://us.123rf.com/450wm/irontrybex/irontrybex1303/irontrybex130300017/18378324-tornillo-viejo-y-el-perno-de-fondo.jpg?ver=6');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.category-vehiculos{
    background-image: linear-gradient(#00000080, #00000080), url('https://www.serviautosantofagasta.cl/images/a/servicio_04.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.category-carton{
    background-image: linear-gradient(#00000080, #00000080), url('https://legro.es/wp-content/uploads/2023/04/reciclaje-carton-1.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.category-envoltorio{
    background-image: linear-gradient(#00000080, #00000080), url('https://mercadoboss.com/pub/media/catalog/product/cache/a44272024326204f3707cad05f7a8397/d/e/despensa_empresarial-min.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.category-vidrio{
    background-image: linear-gradient(#00000080, #00000080), url('https://elcomercio.pe/resizer/N9YqlCLxwLTB2vUBWweRPUXeiKs=/980x528/smart/filters:format(jpeg):quality(75)/cloudfront-us-east-1.images.arcpublishing.com/elcomercio/GS2JSVOI6RHENFKNWZT4QNA4PU.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.category-textil{
    background-image: linear-gradient(#00000080, #00000080), url('https://cdn.pinkermoda.com/pinkermoda/2022/03/vertederotextil1.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.category-papel{
    background-image: linear-gradient(#00000080, #00000080), url('https://www.reciclaplanetalimpio.cl/wp-content/uploads/2019/06/papel.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}



.card-category p{
    font-size: 2.5rem;
    color:#fff;
    text-transform: capitalize;
    position: relative;
}

.card-category p::after{
    content: '';
    width: 2.5rem;
    height: 2px;
    background-color: #fff;
    position: absolute;
    bottom: -1rem;
    left: 50%;
    transform: translate(-50%, 50%);
}


.card-category span{
    font-size: 1.6rem;
    color:#fff;
    cursor: pointer;
}

.card-category span:hover{
    color: rgba(94, 241, 26, 0.911);
}



/*productos recomendados*/


.top-products{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-bottom:3rem;
}

.container-options{
    display: flex;
    justify-content: center;
    gap: 2rem;
    margin-bottom: 1rem;
}

.container-options span{
    color: #777;
    background-color: #fff;
    padding: .7rem 3rem;
    font-size: 1.4rem;
    text-transform: capitalize;
    border-radius: 2rem;
    cursor: pointer;
}

.container-options span:hover{
    background: linear-gradient(to right, #56ab2f, #a8e063); 
    color:#fff
}

.container-options span.active{
    background: linear-gradient(to right, #56ab2f, #a8e063); 
    color: #fff;
}

.container-products{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    gap: 3rem;
}

.card-product{
    background-color: #50434349;
    padding: 2rem 3rem;
    border-radius: .5rem;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.1);

}

.card-product .container-img{
    position:relative;
}

.container-img img{
    width: 100%;
    border-radius: 1.3rem;

}

.card-product .container-img img{
    height: 180px;
    
}

.button-group{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    position: absolute;
    top: 0;
    right: -3rem;
    z-index: -1;
    transition: all .4s ease;
}

.button-group span{
    border: 1px solid;
    background-color: #fff;
    padding: .8rem;
    display: flex;
    align-items: center;
    justify-content:center;
    border-radius: 50%;
    cursor: pointer;
    transition: all .4s ease;
}

.button-group span:hover{
    background: linear-gradient(to right, #56ab2f, #a8e063); 
}

.button-group span i{
    font-size: 1.5rem;
    color:#000000;
}

.button-group span i:hover{
    color:#fff;

}

.card-product:hover .button-group{
    z-index: 0;
    right: -2rem;
}


.content-card-product{
    display: grid;
    justify-items: center;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(4, min-content);
    row-gap: 1rem;
}

.content-card-product h3{
    grid-row: 3/3;
    grid-column: 1/-1;

    font-weight: 400;
    font-size:1.8rem;
    margin-bottom:1rem;
    cursor: pointer;
    text-align: center;
}

.content-card-product h3:hover{
    color: rgba(94, 241, 26, 0.911);
}


.content-card-product button{
    grid-row: 4/4;
    grid-column: 1/-1;
    background: linear-gradient(to left, #f1f2b5, #135058);
    width: 160px;
    padding: 10px;
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: box-shadow, transform;
    transition-property: box-shadow, transform;
}

.content-card-product button:hover, button:focus, button:active{
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    -webkit-transform: scale(1,1);
    transform: scale(1.1);
}


.boton {
    display: flex;
    justify-content: center;
    align-items: center;
}

.boton button{
    background: linear-gradient(to right, #56ab2f, #a8e063); 
    padding: 7px;
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
    border-radius: 15px;
    cursor: pointer;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: box-shadow, transform;
    transition-property: box-shadow, transform;
}

.boton button:hover, button:focus, button:active{
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    -webkit-transform: scale(1,1);
    transform: scale(1.1);
}



/*Blogs*/

.blogs{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.container-blogs{
    display: grid;
    grid-template-columns: repeat( 3, 1fr);
    gap: 3rem;
    
}

.card-blog{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    
}

.card-blog .container-img{
    border-radius: 2rem;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    
}

.button-group-blog{
    position: absolute;
    bottom: 1.5rem;
    right: -2.5rem;

    display: flex;
    gap: 0.7rem;
    z-index: -1;
    transition: all .3s ease;
}

.card-blog:hover .button-group-blog{
    z-index: 0;
    right: 1.5rem;
}

.button-group-blog span{
    background-color: #fff;
    padding: 1rem;
    border-radius: 50%;
    transition: all .4s ease;

    display:flex;
    align-items: center;
    justify-content: center;
}

.button-group-blog span i{
    font-size: 1.3rem;
}

.button-group-blog span:hover{
    background: linear-gradient(to right, #56ab2f, #a8e063);}

.button-group-blog span:hover i{
    color: #fff;
}

.content-blog h3{
    font-size: 1.8rem;
    margin-bottom: 1.7rem;
    color:rgba(0, 0, 0, 0.66);
    font-weight:500;
}

.content-blog h3:hover{
    color: #da8e1c;
    cursor: pointer;
}

.content-blog p{
    margin-top: 1rem;
    font-size: 1.4rem;
    color: #777;
}


.content-blog span{
    color:#da8e1c;
    font-size: 1.3rem;
}

.btn-read-more{
    padding: 1rem 3rem;
    background-color: #000000;
    color: #fff;
    text-transform: uppercase;
    font-size: 1.4rem;
    border-radius: 2rem;
    margin: 3rem 0 5rem;
    display: inline-block;
    cursor: pointer;
}

.btn-read-more:hover{
    background: linear-gradient(to right, #56ab2f, #a8e063);
    color: #000;

}



/*Footer*/

.footer{
    background: linear-gradient(to left, #00c3ff, #ffff1c);
}

.container-footer{
    display: flex;
    flex-direction: column;
    gap: 4rem;
    padding: 3rem;
}

.menu-footer{
    display: grid;
    grid-template-columns: repeat(3, 1fr) 30rem;
    gap: 3rem;
    justify-content: center;
}

.title-footer{
    font-weight: 600;
    font-size: 1.4rem;
    text-transform: uppercase;
}

.contact-info,
.information,
.my-acount,
.newsletter{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.contact-info ul,
.information ul,
.my-acount ul{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.contact-info ul li,
.information ul li,
.my-acount ul li{
    list-style: none;
    color:#fff;
    font-size: 1.2rem;
    font-weight: 300;
}

.information ul li a,
.my-acount ul li a{
    text-decoration: none;
    color: #fff;
    font-weight: 300;
}

.information ul li a:hover,
.my-acount ul li a:hover{
    color: #000000;
}

.social-icons{
    display: flex;
    gap: 1.5rem;
}

.social-icons span{
    border-radius:50%;
    width: 3rem;
    height: 3rem;

    display: flex;
    align-items: center;
    justify-content: center;
}

.social-icons span i{
    color: #fff;
    font-size: 1.2rem;
}

.facebook{
    background-color: #3b5998;
}

.twitter{
    background-color: #00acee;
}

.instagram{
    background: linear-gradient(
        #405de6,
        #833ab4,
        #c13584,
        #e1306c,
        #fd1d1d,
        #f56040,
        #fcaf45
    );
}

.newsletter .content p{
    font-size: 1.2rem;
    color: #fff;
    font-weight: 300;
}

.content input{
    outline: none;
    background: none;
    border: none;
    border-bottom: 2px solid #d2b495;
    cursor: pointer;
    padding: 0.5rem 0 1.2rem;
    color:#000000;
    display: block;
    margin-bottom: 3rem;
    margin-top: 2rem;
    width: 100%;
    font-family: inherit;
}

.content input::-webkit-input-placeholder{
    color:#eee;
}

.content button{
    border: none;
    background-color: #000;
    color: #fff;
    text-transform: uppercase;
    padding: 1rem 3rem;
    border-radius: 2rem;
    font-size: 1.4rem;
    font-family: inherit;
    cursor: pointer;
    font-weight: 600;
}

.content button:hover{
    background: linear-gradient(to right, #56ab2f, #a8e063);
    color: #000;
}




/*Media Queries --768px*/

@media(max-width:768px){
    html{
        font-size: 55%;
    }

    .hero{
        padding: 2rem;
    }

    .customer-support{
        display: none;
    }

    .content-favorites{
        display: none;
    }

    .navbar{
        padding: 1rem 2rem;
    }

    .navbar .fa-bars{
        display: block;
        color:#fff;
        font-size: 3rem;
    }


    .menu{
        display: none;
    }

    .section-slider{
        max-width: 60rem;
        margin: 0 auto;
        padding:  2;
    }

    .container-features{
        grid-template-columns: repeat(2, 1fr);
        padding: 3rem 2rem;
    }

    .card-feature{
        padding: 2rem;
    }

    .heading-1{
        font-size: 2.4rem;
    }

    .heading-2{
        font-size: 2.4rem;
    }

    .card-category{
        height:12rem;
    }

    .card-category p{
        font-size: 2rem;
        text-align: center;
        line-height: 1;
    }

    .card-category span{
        font-size: 1.4rem;
    }

    .container-options{
        align-items: center;
    }

    .container-options span{
        text-align: center;
        padding: 1rem 2rem;
    }

    .container-products{
        grid-template-columns: repeat(auto-fit, minmax(28rem, 1fr));
    }

    .container-blogs{
        overflow: hidden;
        grid-template-columns: 1fr 1fr;

    }

    .content-card-product h3{
        font-size: 2.6rem;
    }

    .menu-footer{
        grid-template-columns: repeat(2, 1fr);
    }
}






/*Media Queries --468px*/

@media(max-width:468px){
    html{
        font-size:42.5%;
    }

    .section-slider{
        max-width: 50rem;
        padding: 2rem 0;
    }

    .heading-1{
        font-size: 2.8rem;
    }

    .heading-2{
        font-size: 2.8rem;
    }

    .card-feature{
        flex-direction: column;
        border-radius: 2rem;
    }

    .feature-content{
        align-items: center;
    }

    .feature-content p{
        font-size: 1.4rem;
        text-align: center;
    }

    .feature-content span{
        font-size: 1.6rem;
        text-align: center;
    }

    .container-options span{
        font-size: 1.8rem;
        padding: 1rem 1.5rem;
        font-weight: 500;
    }

    .container-products{
        grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    }
    
    .content-card-product h3{
        font-size: 2.2rem;
    }

    .blogs{
        padding: 2rem;
    }

    .container-blogs{
        grid-template-columns: 1fr;
    }

    .content-blog h3{
        font-size: 2.4rem;
    }

    .content-blog span{
        font-size: 1.8rem;
    }

    .content-blog p{
        font-size: 2.2rem;
    }

    .btn-read-more{
        font-size: 1.8rem;
    }

    .contact-info ul,
    .information ul,
    .my-acount ul{
        display: none;
    }

    .contact-info{
        align-items: center;
    }

    .menu-footer{
        grid-template-columns: 1fr;
    }

    .content-card-product h3{
        font-size: 2.6rem;
    }

}