@import url("../shared/style.css");


* {
    margin: 0;

}

a {
    text-decoration: none;
}

h2 {
    display: flex;
    justify-content: center;

}

div {
    /*     display: flex;
    justify-content: center; */

}

.label-input{
    font-size: 16px;
    display: flex;
    align-items: center;
}

