.container-general {
    background: linear-gradient(to left, #efefbb, #d4d3dd); 
    padding-bottom: .9375rem;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    display: flex;
    height: 100vh;
}

.container-form {
    background-color: white;
    height: 50%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    padding: 1.875rem;
    border-radius: 1.25rem;
    width: 20%;
}


.form-control {
    font-size: 1.5625rem;
}


.input-form {
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    padding: .3125rem;
}

.genero-check{
    /* width: 100%; */
    padding: 0.875rem

}


@media screen and (max-width: 768px) {
    .container-general {
        padding-bottom: 0.5rem; /* Modifica el espacio inferior */
    }

    .container-form {
        width: 60%; /* Modifica el ancho del contenedor del formulario */
        padding: 1.5rem; /* Modifica el espacio interno del contenedor */
    }

    .input-form {
        padding: 0.5rem; /* Modifica el espacio interno del input */
    }

    .form-control {
        font-size: 1.4rem; /* Modifica el tamaño de fuente */
    }

    .genero-check {
        padding: 1rem; /* Modifica el espacio interno del elemento con clase genero-check */
    }
}


@media screen and (max-width: 468px) {
    .container-general {
        padding-bottom: 0.5rem; /* Modifica el espacio inferior */
    }

    .container-form {
        width: 80%; /* Modifica el ancho del contenedor del formulario */
        padding: 1rem; /* Modifica el espacio interno del contenedor */
    }

    .input-form {
        padding: 0.25rem; /* Modifica el espacio interno del input */
    }

    .form-control {
        font-size: 1.2rem; /* Modifica el tamaño de fuente */
    }

    .genero-check {
        padding: 0.5rem; /* Modifica el espacio interno del elemento con clase genero-check */
    }
}